<div
  class="bike-container"
  (DOMCharacterDataModified)="changeHeight()"
  id="bike-container"
>
  <section class="bike-title">
    {{ bikeStation.properties.label }}
  </section>
  <section class="bike-subtitle">
    <span class="distance">{{ bikeStation.geometry.distance | distance }}</span>
    <div class="dot"></div>
    <span class="location">{{ bikeStationLocation }}</span>
  </section>
  <section class="details">
    <div class="available">
      <img src="assets/icons/Bike.svg" />
      <span class="available-label">Available bikes</span>
      <span class="num-of-bikes number">
        {{ bikeStation.properties.bikes }}
      </span>
    </div>
    <div class="available">
      <img src="assets/icons/Lock.svg" />
      <span class="available-label">Available places</span>
      <span class="num-of-racks number">
        {{ bikeStation.properties.free_racks }}
      </span>
    </div>
  </section>
</div>
