<div class="bike-container">
  <section class="bike-title">
    {{ bikeStation.properties.label }}
  </section>
  <section class="bike-subtitle">
    <span class="distance">{{ formatDistance(bikeStation.geometry.distance) }}</span>
    <span class="dot">&#183;</span>
    <span class="location">{{ bikeStationLocation }}</span>
  </section>
  <section class="details">
    <div class="available">
      <img src="assets/icons/Bike.svg" />
      <span class="available-label">Available bikes</span>
      <span class="num-of-bikes number">
        {{ bikeStation.properties.bikes }}
      </span>
    </div>
    <div class="available">
      <img src="assets/icons/Lock.svg" />
      <span class="available-label">Available places</span>
      <span class="num-of-racks number">
        {{ bikeStation.properties.free_racks }}
      </span>
    </div>
  </section>
</div>
